<div class="max-w-xs mx-auto flex flex-col items-center justify-center h-screen">
  <div class="bg-white border-b-4 border-r-4 border-gray-200 md:p-4">
    <h1 class="text-4xl">New Gif</h1>

    <%= render 'form', gif: @gif %>

    <%#= link_to 'Back', gifs_path %>
  </div>
</div>
